<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Binding</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="2_app.js">

    </script>
  </head>

  <body ng-app="formExample">

    <div ng-controller="ExampleController">
      <form>
        Updates on BLUR...
        <input type="text" ng-model="user.name2" ng-model-options="{ updateOn: 'blur' }" /><br />
        Updates when delayed...
        <input type="text" ng-model="user.name" ng-model-options="{ debounce: 500 }" /><br />
        Regular Updates..
        <input type="text" ng-model="user.data" /><br />
      </form>
      <pre>username = "{{user.name2}}"</pre>
      <pre>username = "{{user.name}}"</pre>
      <pre>userdata = "{{user.data}}"</pre>
    </div>

  </body>
</html>
