<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Services</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>

    <script type="text/javascript" src="1_app.js"></script>
  </head>

  <body>


    <div ng-app="app">
      <h1>Services</h1>

        <div ng-controller="ListCtrl as list">
          <!-- ng-repeat is foreach equivalent -->
          <p ng-repeat="messages in list.messages">
            {{messages.id}} - {{messages.text}}
          </p>
        </div>

        <div ng-controller="PostCtrl as post" >
          <!-- ng-submit is form-action equivalent -->
          <form ng-submit="post.addMessage(post.newMessage)">

          <input type="text" ng-model="post.newMessage">

          <button type="submit">Post</button>

          </form>

        </div>

    </div>


  </body>

</html>
