<!DOCTYPE html>
<html>

  <head>
    <title>AngularJS Controllers</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="3_app.js"></script>
  </head>

  <body>
    <div ng-app="app">
      <h1>Controllers</h1>
       <!-- "controller as" syntax. This makes it so that your controllers can be directly referenced within the view. -->
      <div ng-controller="MainCtrl as main">
        <h3>
        controller main :  {{ main.message }}
        </h3>
        <textarea ng-model="main.message" rows="8" cols="40"></textarea>
        <!-- msg is empty, just clears the textarea -->
        <button ng-click="main.change(msg)" type="submit">Update</button>
      </div>

      <div ng-controller="MainCtrl as main2">
        <h3>
          controller main2 :
          {{ main2.message }}
        </h3>
        <textarea ng-model="main2.message" rows="8" cols="40"></textarea>
        <button ng-click="main2.change(msg)" type="submit">Update</button>
      </div>


    </div>
  </body>

</html>
